<div class="container pt-4">
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="card border-primary mb-3" style="max-width: 20rem;">
			  <div class="card-header">
			  	<h4>Total: <span class="float-right">${{total}}</span></h4>
			  </div>
			  <div class="card-body">
			    <!-- <h4 class="card-title">Avail promo!</h4> -->
			    <p class="card-text">Delivery fee: <span class="float-right">FREE</span></p>
			    <p class="card-text">Discount: <span class="float-right">N/A</span></p>
			  </div>
			  <div class="card-footer">
			  	<button [disabled]="this.cartService.cart.length===0" type="button" class="btn btn-primary" style="width: 100%" routerLink="/checkout">Checkout</button>
			  </div>
			</div>
		</div>
		<div class="col-12 col-md-8">
			<div class="row" *ngFor="let product of cartService.cart">			
				<div class="card border-secondary mb-3" style="width: 100%;">				  
					  <!-- <div class="card-header">{{product.name}}</div> -->
					  <div class="card-body">
					  	<div class="row">
						  	<div class="col-2">
							  	<img alt="test">
							  </div>
						  	<div class="col">
							    <h4 class="card-title">{{product.name}}<span class="float-right">${{product.price}}</span></h4>
							    <div class="card-text">{{product.description}}
									<button type="button" class="btn btn-primary btn-sm float-right" (click)="onClickRemove(product)">Remove</button>
									</div>
							</div>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>

