<!-- <div class="container">
	<div class="row">  
    <div class="col-3"></div>
    <div class="col-6">
      <form name="form" id="checkoutForm">	
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" placeholder="Enter Address">
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input type="text" class="form-control" placeholder="Enter Mobile Number">
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input type="text" class="form-control" placeholder="Enter Mobile Number">
        </div>
        <button type="button" class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-secondary" routerLink="/cart">Back</button>
      </form>
    </div>
  </div>
</div> -->
<div class="container pt-4"> 
  <div *ngIf="!confirmed" id="formDetails">
    <p class="text-primary text-center">Please confirm your details. <span *ngIf="this.authService.loggedIn()">Kindly update any info on the <u><a routerLink="/profile">Profile</a></u> page</span></p>
    
    <app-detailsform></app-detailsform>
    <button hidden data-toggle="modal" data-target="#confirmation" #modalToggleBtn></button>
    
  </div>
  <div *ngIf="confirmed" class="text-center">
    <div *ngIf="processing">
      <h4>Creating order...</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div *ngIf="!processing && !error">    
      <h4>Order number: {{orderNumber}}</h4>
      <h6>Thanks, {{detailsFormService.name}}.</h6>
      <h6>Please expect your order to be delivered at: {{detailsFormService.address}}</h6>
      <h6>Go to <a routerLink="" class="text-info">Home</a></h6>
    </div>
    <div *ngIf="!processing && error">
      <h2>There was an error processing your order. Kindly go back to cart page.</h2>
      <h6>Go to <a routerLink="/cart" class="text-info">Cart</a></h6>      
    </div>
  </div>
</div>
<div #confirmationModal class="modal" id="confirmation">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Order is about to be created, please confirm all cart and checkout details.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onCreateOrderClick()">Create Order</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
