.list-item-3 {
	margin-right: 20px;
}
.list-item-4 {
	margin-right: 0px
}
.submenu{
	padding-bottom: 10px;
}
.card-body {
	height: 22em;
}
.card-subtitle{
	overflow: hidden;
  text-overflow: ellipsis;
	
}
#properties-list-group{
	width: 100%;
}
.fas.fa-shopping-cart{
    font-size: 30px;
    margin-left: 15px;
}
img {
    height: auto;
    max-width: 100%;
}
.add-to-cart{
	height: auto;
	max-width: 100%;
	font-size: 80%;
}
.card-col{
	min-width: 15em;
}

