<div class="container">
    <div class="row p-2 pr-4">
        <h3 class="ml-auto"> Order details</h3>        
      </div>
    <div class="row" style="width: 100%">
      <div class="col-lg-6">
        <table id="tableOrders" class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Order Number</th>
              <th scope="col">Created</th>
              <th scope="col">Total</th>                
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; 
                      let isOdd=odd;
                      let isEven=even" 
                [class.table-dark]="isOdd" 
                [class.table-light]="isEven" (click)="onRowSelect(order)">
                <td>{{order.ID}} </td>        
                <td>{{order.date | date: 'MM/dd/yyyy'}} </td>          
                <td>${{getPrice(order.items)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 border-black">
          <div class="card mb-3">
              <h3 class="card-header">Order no: {{selectedOrder.ID}} <span class="float-right">${{getPrice(selectedOrder.items)}}</span></h3>
                <div class="card-header">Buyer</div>
                <div class="card-body">
                  <p class="card-text">Name: {{buyer.name}}</p>
                  <p class="card-text">Address: {{buyer.address}}</p>
                  <p class="card-text">Mobile: {{buyer.mobile}}</p>
                  <p class="card-text">Email: {{buyer.email}}</p>
              </div>
              <div class="card">
                <div class="card-header">Items</div>
                <div class="card-body">                
                  <p *ngFor="let product of items" class="card-text">{{product.name}} <span class="float-right">${{product.price}}</span></p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>